<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link href="/assets/css/custom.css" rel="stylesheet">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.minmjs"></script>
{{ if .success }}
    <div class="alert alert-success" role="alert">
        {{ .success }}
    </div>
{{ end }}
{{ if .error }}
    <div class="alert alert-danger" role="alert">
        {{ .error }}
    </div>
{{ end }}
<div class="container register-form">
    <form METHOD="POST" ACTION="/login">
        <div class="form">
            <div class="note">
                <p>登入範例</p>
            </div>

            <div class="form-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="使用者名稱" name="username" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="密碼" name="password" value=""/>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btnSubmit">登入</button>
            </div>
        </div>
    </form>·
</div>